# Part 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [97]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [98]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [99]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [100]:
# Solution 1
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [101]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [102]:
# with shape we can see the number of columns and rows. We have 5 columns
chipo.shape

(4622, 5)

In [103]:
# or we can also use the columns method and get the length
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [104]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [105]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [106]:
# by default with integers

### Step 9. Which was the most-ordered item?

In [107]:
chipo.sort_values('quantity', ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
...,...,...,...,...,...
1592,645,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1593,645,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95
1594,646,1,Carnitas Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$9.25
1595,646,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [108]:
maximo = chipo['quantity']==15
chipo[maximo]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

In [109]:
max_item = chipo.loc[3598, 'item_name']
max_item

'Chips and Fresh Tomato Salsa'

### Step 10. For the most-ordered item, how many items were ordered?

In [110]:
# we can see already that it was sold 15 times
# or we can just get the max number of the column 'quantity'
chipo.quantity.max()

15

### Step 11. What was the most ordered item in the choice_description column?

In [111]:
chipo.value_counts('choice_description')

choice_description
[Diet Coke]                                                                                                                134
[Coke]                                                                                                                     123
[Sprite]                                                                                                                    77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                      42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                           40
                                                                                                                          ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Guacamole, Lettuce]]                                            1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole]]                                         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole, Lettuce]]                                                    1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole]]                                                             1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]      1
Name: count, Length: 1043, dtype: int64

In [112]:
# we can see the most ordered item was 'Diet Coke' with a total number of 134 times.
# we can get only the product with idxmax(), although we haven't covered it at class

chipo.value_counts('choice_description').idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [113]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [114]:
chipo.item_price.dtype

dtype('O')

In [115]:
chipo.item_price

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [116]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [117]:
# it's a string (object) with a $ at the beginning of each value.

# con un lambda a parte
sindolar = lambda i: i.lstrip('$')

prices = list(map(sindolar, chipo.item_price))
# hemos creado una nueva lista con los nuevos valores, los antiguos con la lambda aplicada (lstrip para quitar el $)
print(prices)

chipo # pero aún no hemos cambiado la columna en el Df

['2.39 ', '3.39 ', '3.39 ', '2.39 ', '16.98 ', '10.98 ', '1.69 ', '11.75 ', '9.25 ', '9.25 ', '4.45 ', '8.75 ', '8.75 ', '11.25 ', '4.45 ', '2.39 ', '8.49 ', '8.49 ', '2.18 ', '8.75 ', '4.45 ', '8.99 ', '3.39 ', '10.98 ', '3.39 ', '2.39 ', '8.49 ', '8.99 ', '1.09 ', '8.49 ', '2.39 ', '8.99 ', '1.69 ', '8.99 ', '1.09 ', '8.75 ', '8.75 ', '4.45 ', '2.95 ', '11.75 ', '2.15 ', '4.45 ', '11.25 ', '11.75 ', '8.75 ', '10.98 ', '8.99 ', '3.39 ', '8.99 ', '3.99 ', '8.99 ', '2.18 ', '10.98 ', '1.09 ', '8.99 ', '2.39 ', '9.25 ', '11.25 ', '11.75 ', '2.15 ', '4.45 ', '9.25 ', '11.25 ', '8.75 ', '8.99 ', '8.99 ', '3.39 ', '8.99 ', '10.98 ', '8.99 ', '1.69 ', '8.99 ', '3.99 ', '8.75 ', '4.45 ', '8.75 ', '8.75 ', '2.15 ', '8.75 ', '11.25 ', '2.15 ', '9.25 ', '8.75 ', '8.75 ', '9.25 ', '8.49 ', '8.99 ', '1.09 ', '9.25 ', '2.95 ', '11.75 ', '11.75 ', '9.25 ', '11.75 ', '4.45 ', '9.25 ', '4.45 ', '11.75 ', '8.75 ', '8.75 ', '4.45 ', '8.99 ', '8.99 ', '3.99 ', '8.49 ', '3.39 ', '8.99 ', '1.09 ', '9.25 ', '4.45 ', '8.75 ', '2.95 ', '4.45 ', '2.39 ', '8.49 ', '8.99 ', '8.49 ', '1.09 ', '8.99 ', '3.99 ', '8.75 ', '9.25 ', '4.45 ', '11.25 ', '4.45 ', '8.99 ', '1.09 ', '9.25 ', '2.95 ', '4.45 ', '11.75 ', '4.45 ', '8.49 ', '2.39 ', '10.98 ', '22.50 ', '11.75 ', '4.45 ', '11.25 ', '4.45 ', '11.25 ', '4.45 ', '11.25 ', '11.25 ', '11.75 ', '9.25 ', '4.45 ', '11.48 ', '17.98 ', '1.69 ', '17.50 ', '4.45 ', '8.49 ', '2.39 ', '17.50 ', '4.45 ', '4.45 ', '11.25 ', '11.75 ', '10.98 ', '8.49 ', '10.98 ', '2.18 ', '11.48 ', '8.49 ', '2.39 ', '4.45 ', '11.25 ', '11.75 ', '8.75 ', '8.49 ', '2.18 ', '8.49 ', '3.39 ', '8.49 ', '8.99 ', '10.98 ', '11.48 ', '8.49 ', '1.09 ', '1.09 ', '9.25 ', '8.75 ', '2.95 ', '9.25 ', '4.45 ', '11.25 ', '11.48 ', '8.49 ', '8.49 ', '8.99 ', '2.39 ', '11.25 ', '8.75 ', '2.95 ', '1.09 ', '8.99 ', '8.49 ', '2.39 ', '10.98 ', '1.09 ', '3.99 ', '11.25 ', '8.75 ', '8.49 ', '3.39 ', '8.75 ', '9.25 ', '2.15 ', '11.25 ', '11.25 ', '11.25 ', '4.45 ', '22.50 ', '4.45 ', '11.75 ', '8.75 ', '17.50 ', '8.75 ', '9.25 ', '8.75 ', '2.15 ', '9.25 ', '4.30 ', '8.75 ', '11.25 ', '2.15 ', '8.99 ', '1.09 ', '8.99 ', '3.99 ', '8.75 ', '2.95 ', '2.95 ', '11.75 ', '5.90 ', '9.25 ', '9.25 ', '11.75 ', '9.25 ', '2.95 ', '17.50 ', '8.75 ', '9.25 ', '10.98 ', '8.99 ', '1.09 ', '1.09 ', '1.09 ', '8.99 ', '10.98 ', '1.09 ', '8.75 ', '8.75 ', '9.25 ', '9.25 ', '8.75 ', '8.75 ', '8.99 ', '8.99 ', '8.99 ', '1.09 ', '11.75 ', '1.25 ', '8.99 ', '2.39 ', '9.25 ', '2.95 ', '8.99 ', '3.99 ', '8.49 ', '2.39 ', '8.49 ', '8.49 ', '8.49 ', '1.69 ', '8.49 ', '3.99 ', '8.99 ', '1.69 ', '1.09 ', '23.78 ', '17.50 ', '2.15 ', '8.75 ', '9.25 ', '9.25 ', '8.75 ', '4.45 ', '8.75 ', '11.25 ', '11.25 ', '1.25 ', '9.25 ', '4.45 ', '11.25 ', '11.75 ', '11.75 ', '6.49 ', '8.99 ', '2.39 ', '8.49 ', '2.39 ', '11.25 ', '8.75 ', '2.15 ', '8.99 ', '1.69 ', '8.75 ', '11.25 ', '2.15 ', '4.45 ', '8.75 ', '8.49 ', '8.99 ', '17.50 ', '8.49 ', '1.09 ', '1.09 ', '8.75 ', '1.25 ', '2.15 ', '11.08 ', '8.49 ', '8.49 ', '8.99 ', '2.39 ', '8.75 ', '2.15 ', '1.50 ', '11.25 ', '2.15 ', '8.49 ', '8.49 ', '11.75 ', '9.25 ', '11.75 ', '1.25 ', '11.25 ', '8.75 ', '4.45 ', '6.49 ', '9.25 ', '2.95 ', '11.25 ', '4.45 ', '1.25 ', '1.25 ', '8.49 ', '2.39 ', '2.18 ', '8.49 ', '2.18 ', '22.16 ', '17.50 ', '8.75 ', '2.95 ', '6.49 ', '8.99 ', '3.39 ', '3.39 ', '8.99 ', '8.49 ', '11.25 ', '2.15 ', '11.25 ', '2.95 ', '11.25 ', '1.25 ', '8.99 ', '1.09 ', '8.75 ', '8.75 ', '9.25 ', '2.95 ', '11.75 ', '1.50 ', '8.99 ', '1.09 ', '11.25 ', '1.25 ', '1.25 ', '11.25 ', '11.75 ', '2.15 ', '8.99 ', '1.69 ', '11.75 ', '6.49 ', '8.75 ', '9.25 ', '11.25 ', '4.45 ', '1.25 ', '11.25 ', '4.45 ', '8.49 ', '8.99 ', '8.49 ', '8.99 ', '11.25 ', '1.25 ', '11.75 ', '1.25 ', '11.75 ', '9.25 ', '4.45 ', '11.25 ', '2.15 ', '32.94 ', '1.25 ', '11.25 ', '11.48 ', '1.69 ', '1.09 ', '17.50 ', '4.45 ', '6.49 ', '9.25 ', '8.75 ', '9.25 ', '9.25 ', '8.75 ', '8.75 ', '2.15 ', '2.95 ', '17.50 ', '10.98 ', '11.48 ', '11.48 ', '3.39 ', '8.99 ', '1.69 ', '8.99 ', '1.09 ', '10.98 ', '3.39 ', '8.99 ', '1.09 ', '9.25 ', '8.75 ', '11.25 ', '4.45 ', '2.95 ', '9.25 ', '22.20 ', '8.49 ', '8.99 ', '8.75 ', '8.75 ', '11.75 ', '8.75 ', '11.25 ', '9.25 ', '11.25 ', '11.25 ', '8.75 ', '11.25 ', '2.95 ', '1.25 ', '8.49 ', '1.69 ', '11.75 ', '11.25 ', '8.75 ', '8.75 ', '4.45 ', '8.49 ', '3.99 ', '8.49 ', '3.99 ', '11.48 ', '1.69 ', '1.09 ', '11.25 ', '1.50 ', '10.58 ', '1.69 ', '9.25 ', '11.25 ', '8.75 ', '9.25 ', '11.25 ', '11.25 ', '8.75 ', '11.75 ', '8.75 ', '8.75 ', '8.75 ', '2.15 ', '11.25 ', '11.75 ', '2.50 ', '4.45 ', '9.25 ', '4.45 ', '11.25 ', '8.49 ', '3.99 ', '9.25 ', '9.25 ', '11.25 ', '9.25 ', '11.75 ', '11.25 ', '1.25 ', '23.50 ', '1.25 ', '8.99 ', '8.49 ', '7.40 ', '7.40 ', '8.75 ', '1.25 ', '4.45 ', '8.75 ', '2.15 ', '8.75 ', '4.45 ', '7.40 ', '7.40 ', '7.40 ', '8.99 ', '3.99 ', '8.99 ', '1.69 ', '8.75 ', '8.75 ', '8.75 ', '8.75 ', '11.25 ', '11.25 ', '2.95 ', '8.75 ', '18.50 ', '8.49 ', '3.99 ', '2.95 ', '9.25 ', '9.25 ', '3.00 ', '1.25 ', '8.75 ', '9.25 ', '4.45 ', '8.75 ', '11.25 ', '4.45 ', '10.98 ', '22.16 ', '4.45 ', '8.75 ', '9.25 ', '6.49 ', '9.25 ', '11.25 ', '8.75 ', '9.25 ', '2.15 ', '9.25 ', '4.45 ', '9.25 ', '2.95 ', '9.25 ', '8.75 ', '9.25 ', '1.25 ', '1.25 ', '8.75 ', '8.75 ', '9.25 ', '4.45 ', '11.75 ', '11.75 ', '11.75 ', '9.25 ', '9.25 ', '16.98 ', '2.39 ', '3.39 ', '3.39 ', '9.25 ', '11.75 ', '11.25 ', '2.15 ', '8.75 ', '9.25 ', '4.45 ', '10.98 ', '11.25 ', '9.25 ', '22.50 ', '9.25 ', '2.95 ', '1.50 ', '11.48 ', '8.49 ', '1.69 ', '8.49 ', '8.49 ', '8.49 ', '6.78 ', '11.75 ', '4.45 ', '8.75 ', '4.45 ', '11.89 ', '9.39 ', '8.75 ', '2.95 ', '1.25 ', '9.25 ', '8.75 ', '23.78 ', '8.75 ', '9.25 ', '2.15 ', '2.15 ', '1.25 ', '8.49 ', '3.99 ', '10.98 ', '1.09 ', '8.75 ', '4.45 ', '8.75 ', '11.75 ', '2.95 ', '4.45 ', '9.25 ', '8.75 ', '8.49 ', '3.99 ', '22.50 ', '11.25 ', '1.25 ', '8.75 ', '8.75 ', '18.50 ', '6.49 ', '8.75 ', '8.75 ', '4.45 ', '8.49 ', '3.99 ', '8.99 ', '1.09 ', '8.49 ', '2.39 ', '11.48 ', '1.69 ', '2.50 ', '9.25 ', '1.50 ', '17.50 ', '2.95 ', '8.75 ', '4.45 ', '11.75 ', '8.75 ', '8.49 ', '1.69 ', '8.49 ', '3.99 ', '8.99 ', '8.99 ', '3.99 ', '8.99 ', '11.25 ', '4.45 ', '1.25 ', '3.99 ', '10.98 ', '7.40 ', '3.00 ', '7.40 ', '4.00 ', '8.49 ', '3.99 ', '9.25 ', '4.45 ', '11.25 ', '1.25 ', '11.75 ', '1.25 ', '11.25 ', '2.15 ', '11.25 ', '4.45 ', '3.75 ', '11.75 ', '8.99 ', '2.39 ', '8.75 ', '4.45 ', '1.25 ', '8.99 ', '8.49 ', '2.18 ', '8.49 ', '2.18 ', '1.09 ', '8.75 ', '2.95 ', '1.25 ', '1.50 ', '11.25 ', '9.25 ', '2.95 ', '1.25 ', '8.49 ', '3.99 ', '11.48 ', '3.99 ', '8.49 ', '11.25 ', '1.25 ', '8.99 ', '1.69 ', '11.25 ', '1.25 ', '6.49 ', '8.75 ', '9.25 ', '8.75 ', '2.95 ', '8.75 ', '11.75 ', '8.69 ', '8.69 ', '2.29 ', '3.99 ', '8.49 ', '8.75 ', '8.75 ', '1.25 ', '11.75 ', '11.25 ', '11.25 ', '11.25 ', '1.25 ', '9.25 ', '11.75 ', '6.49 ', '3.99 ', '8.49 ', '11.25 ', '2.15 ', '11.25 ', '11.89 ', '8.99 ', '1.69 ', '8.99 ', '8.99 ', '3.99 ', '8.99 ', '9.25 ', '9.25 ', '2.15 ', '7.40 ', '7.40 ', '8.75 ', '8.75 ', '9.25 ', '4.45 ', '11.25 ', '1.25 ', '11.75 ', '11.25 ', '1.25 ', '3.99 ', '8.49 ', '8.49 ', '8.49 ', '8.99 ', '8.75 ', '2.15 ', '1.25 ', '8.49 ', '1.09 ', '1.09 ', '8.75 ', '2.95 ', '1.25 ', '9.25 ', '1.25 ', '2.15 ', '11.25 ', '1.25 ', '4.45 ', '8.75 ', '2.50 ', '8.90 ', '8.75 ', '8.75 ', '8.75 ', '11.25 ', '11.25 ', '10.98 ', '3.99 ', '10.98 ', '3.99 ', '1.69 ', '8.99 ', '9.25 ', '8.75 ', '8.99 ', '1.09 ', '9.25 ', '2.95 ', '8.75 ', '9.25 ', '3.99 ', '8.49 ', '8.75 ', '8.75 ', '22.50 ', '10.98 ', '3.27 ', '3.99 ', '8.99 ', '1.09 ', '11.08 ', '8.75 ', '4.45 ', '11.08 ', '3.99 ', '8.49 ', '4.30 ', '9.25 ', '8.75 ', '11.25 ', '11.25 ', '9.25 ', '8.49 ', '8.99 ', '8.49 ', '8.75 ', '2.95 ', '4.45 ', '9.25 ', '2.95 ', '9.25 ', '8.75 ', '11.25 ', '4.45 ', '16.98 ', '8.49 ', '2.39 ', '11.25 ', '3.75 ', '9.25 ', '4.45 ', '9.25 ', '9.25 ', '4.45 ', '8.75 ', '9.25 ', '8.75 ', '9.25 ', '9.25 ', '9.25 ', '11.48 ', '8.99 ', '22.50 ', '11.75 ', '11.25 ', '1.25 ', '8.75 ', '2.15 ', '1.25 ', '11.25 ', '8.75 ', '1.25 ', '11.25 ', '1.50 ', '11.25 ', '11.25 ', '9.25 ', '6.49 ', '8.90 ', '8.75 ', '4.45 ', '11.25 ', '1.25 ', '17.50 ', '9.25 ', '8.75 ', '11.75 ', '3.00 ', '8.49 ', '8.49 ', '10.98 ', '8.99 ', '3.99 ', '8.75 ', '4.45 ', '8.99 ', '1.69 ', '11.75 ', '8.75 ', '11.25 ', '4.45 ', '11.75 ', '1.25 ', '11.75 ', '2.95 ', '8.99 ', '8.99 ', '2.18 ', '17.98 ', '8.99 ', '8.49 ', '1.69 ', '11.75 ', '11.25 ', '2.95 ', '3.75 ', '9.25 ', '11.75 ', '8.75 ', '2.15 ', '1.50 ', '8.49 ', '8.49 ', '3.39 ', '8.69 ', '3.89 ', '8.75 ', '4.45 ', '8.75 ', '11.25 ', '2.15 ', '8.75 ', '8.49 ', '1.69 ', '8.49 ', '8.49 ', '1.25 ', '8.75 ', '11.75 ', '11.75 ', '8.99 ', '1.09 ', '8.75 ', '4.45 ', '8.75 ', '2.95 ', '8.75 ', '2.15 ', '3.99 ', '8.49 ', '8.99 ', '3.99 ', '8.49 ', '1.69 ', '1.09 ', '8.99 ', '1.09 ', '9.25 ', '8.75 ', '8.99 ', '2.39 ', '1.25 ', '1.25 ', '11.25 ', '11.25 ', '9.25 ', '9.25 ', '11.25 ', '1.50 ', '3.99 ', '8.49 ', '11.25 ', '9.25 ', '11.25 ', '17.50 ', '8.75 ', '8.90 ', '8.75 ', '8.75 ', '8.99 ', '2.39 ', '11.25 ', '9.25 ', '2.15 ', '11.25 ', '1.25 ', '11.75 ', '1.25 ', '11.25 ', '11.75 ', '1.25 ', '11.25 ', '11.25 ', '8.49 ', '10.98 ', '8.75 ', '1.25 ', '8.75 ', '8.49 ', '8.49 ', '1.50 ', '1.50 ', '8.75 ', '4.45 ', '11.25 ', '1.25 ', '11.75 ', '8.49 ', '2.39 ', '9.25 ', '4.45 ', '9.25 ', '8.75 ', '8.99 ', '1.69 ', '17.50 ', '2.39 ', '8.99 ', '8.99 ', '11.25 ', '4.45 ', '8.75 ', '4.45 ', '9.25 ', '6.49 ', '10.98 ', '8.49 ', '8.49 ', '1.09 ', '1.69 ', '9.25 ', '4.45 ', '8.75 ', '1.25 ', '2.95 ', '3.99 ', '8.49 ', '11.75 ', '11.75 ', '2.15 ', '11.48 ', '8.75 ', '2.15 ', '1.25 ', '11.25 ', '2.15 ', '1.25 ', '8.75 ', '8.75 ', '6.49 ', '1.69 ', '8.99 ', '8.75 ', '11.75 ', '10.98 ', '1.09 ', '8.49 ', '3.39 ', '8.75 ', '2.15 ', '1.25 ', '11.48 ', '10.98 ', '10.98 ', '8.49 ', '2.95 ', '9.25 ', '9.25 ', '11.75 ', '4.45 ', '11.48 ', '11.25 ', '8.75 ', '4.45 ', '1.69 ', '8.99 ', '8.75 ', '4.45 ', '1.50 ', '11.75 ', '2.15 ', '8.99 ', '2.39 ', '8.75 ', '2.95 ', '1.25 ', '8.75 ', '2.15 ', '1.25 ', '2.18 ', '2.18 ', '11.48 ', '8.75 ', '2.95 ', '11.75 ', '11.75 ', '1.25 ', '10.58 ', '8.99 ', '2.39 ', '11.75 ', '4.45 ', '11.25 ', '11.25 ', '17.50 ', '8.75 ', '8.75 ', '8.75 ', '22.50 ', '9.25 ', '8.75 ', '4.45 ', '11.75 ', '1.25 ', '11.25 ', '11.25 ', '2.95 ', '8.99 ', '1.69 ', '11.25 ', '4.45 ', '8.75 ', '6.49 ', '8.75 ', '4.45 ', '9.25 ', '4.45 ', '11.75 ', '11.75 ', '4.45 ', '11.89 ', '11.75 ', '11.25 ', '2.95 ', '1.50 ', '4.45 ', '8.75 ', '8.99 ', '1.09 ', '8.99 ', '1.09 ', '3.99 ', '11.48 ', '8.49 ', '9.25 ', '4.45 ', '11.48 ', '9.25 ', '2.95 ', '9.25 ', '8.49 ', '8.99 ', '8.99 ', '8.49 ', '8.75 ', '2.95 ', '4.45 ', '11.89 ', '10.58 ', '8.19 ', '1.69 ', '8.75 ', '2.15 ', '1.25 ', '17.50 ', '6.49 ', '9.25 ', '2.15 ', '8.75 ', '4.45 ', '8.75 ', '1.25 ', '11.48 ', '11.48 ', '8.99 ', '2.18 ', '8.49 ', '8.99 ', '2.39 ', '2.39 ', '2.18 ', '8.75 ', '4.45 ', '11.25 ', '9.25 ', '9.25 ', '11.25 ', '11.25 ', '4.45 ', '2.95 ', '11.75 ', '8.49 ', '8.49 ', '8.99 ', '1.69 ', '9.25 ', '11.25 ', '11.75 ', '9.25 ', '8.75 ', '11.75 ', '8.75 ', '8.75 ', '11.25 ', '11.25 ', '10.98 ', '11.25 ', '4.45 ', '10.98 ', '8.49 ', '8.99 ', '3.39 ', '3.99 ', '8.99 ', '1.09 ', '1.09 ', '2.39 ', '17.50 ', '4.45 ', '11.25 ', '11.25 ', '4.45 ', '9.25 ', '4.45 ', '8.75 ', '2.15 ', '1.25 ', '11.89 ', '2.95 ', '11.75 ', '1.25 ', '11.25 ', '4.45 ', '11.48 ', '11.48 ', '2.95 ', '9.25 ', '8.75 ', '9.25 ', '2.95 ', '11.25 ', '1.25 ', '11.75 ', '1.25 ', '8.99 ', '2.39 ', '1.25 ', '11.25 ', '1.25 ', '11.25 ', '8.49 ', '3.99 ', '35.00 ', '27.75 ', '8.75 ', '11.80 ', '8.90 ', '5.90 ', '6.49 ', '10.98 ', '17.98 ', '2.39 ', '9.25 ', '8.75 ', '2.15 ', '8.75 ', '4.45 ', '8.49 ', '1.69 ', '8.19 ', '8.69 ', '10.98 ', '3.99 ', '11.48 ', '11.48 ', '4.45 ', '8.75 ', '6.49 ', '8.75 ', '8.75 ', '9.25 ', '1.25 ', '4.45 ', '8.49 ', '1.69 ', '9.25 ', '4.45 ', '8.99 ', '1.09 ', '11.25 ', '2.95 ', '11.08 ', '11.08 ', '3.89 ', '10.98 ', '11.25 ', '8.75 ', '11.25 ', '9.25 ', '4.30 ', '8.75 ', '8.49 ', '3.99 ', '1.69 ', '8.99 ', '8.49 ', '1.69 ', '11.75 ', '11.25 ', '11.89 ', '9.25 ', '2.95 ', '9.25 ', '2.95 ', '8.75 ', '4.45 ', '4.45 ', '8.75 ', '10.98 ', '11.48 ', '8.49 ', '9.25 ', '4.45 ', '11.75 ', '11.89 ', '8.99 ', '8.49 ', '8.75 ', '9.25 ', '8.75 ', '8.75 ', '11.75 ', '11.75 ', '4.45 ', '11.25 ', '11.75 ', '2.50 ', '8.99 ', '1.69 ', '11.75 ', '2.15 ', '1.25 ', '9.25 ', '8.75 ', '8.90 ', '9.25 ', '2.95 ', '8.75 ', '11.25 ', '8.90 ', '11.25 ', '11.75 ', '11.48 ', '1.69 ', '3.39 ', '9.25 ', '2.95 ', '8.99 ', '1.69 ', '8.49 ', '10.98 ', '11.25 ', '2.95 ', '8.99 ', '1.69 ', '8.75 ', '2.15 ', '1.25 ', '8.75 ', '2.95 ', '9.25 ', '2.50 ', '11.25 ', '1.25 ', '11.75 ', '2.50 ', '11.25 ', '1.50 ', '8.75 ', '1.25 ', '2.95 ', '11.48 ', '11.48 ', '8.75 ', '8.75 ', '2.15 ', '11.75 ', '1.25 ', '9.25 ', '9.25 ', '6.49 ', '11.75 ', '8.49 ', '8.49 ', '1.09 ', '10.98 ', '8.75 ', '1.25 ', '2.15 ', '11.25 ', '1.50 ', '11.25 ', '11.25 ', '8.49 ', '8.49 ', '8.75 ', '1.50 ', '1.25 ', '1.50 ', '8.75 ', '2.50 ', '2.15 ', '7.40 ', '7.40 ', '4.00 ', '9.25 ', '9.39 ', '9.25 ', '9.25 ', '9.39 ', '11.25 ', '8.90 ', '11.25 ', '6.00 ', '11.25 ', '11.25 ', '11.25 ', '22.50 ', '11.48 ', '1.09 ', '8.49 ', '8.49 ', '17.50 ', '11.25 ', '1.50 ', '9.25 ', '8.75 ', '3.99 ', '8.49 ', '8.75 ', '8.75 ', '8.75 ', '8.75 ', '8.75 ', '11.75 ', '1.50 ', '11.25 ', '11.25 ', '2.95 ', '8.99 ', '10.98 ', '9.25 ', '8.75 ', '4.45 ', '8.49 ', '1.09 ', '2.39 ', '8.75 ', '8.75 ', '11.48 ', '8.99 ', '8.49 ', '8.49 ', '2.39 ', '10.98 ', '8.49 ', '3.99 ', '11.75 ', '4.45 ', '8.75 ', '2.15 ', '1.25 ', '10.98 ', '8.99 ', '11.25 ', '1.50 ', '8.75 ', '2.15 ', '1.25 ', '8.75 ', '9.25 ', '8.75 ', '11.25 ', '1.50 ', '8.75 ', '1.25 ', '4.45 ', '10.98 ', '8.75 ', '2.95 ', '1.25 ', '8.75 ', '2.95 ', '1.25 ', '8.49 ', '8.49 ', '2.39 ', '11.25 ', '1.25 ', '8.75 ', '8.75 ', '9.25 ', '8.75 ', '11.89 ', '1.25 ', '8.75 ', '2.15 ', '1.25 ', '8.99 ', '1.09 ', '8.75 ', '4.45 ', '26.25 ', '8.75 ', '4.45 ', '11.75 ', '2.95 ', '8.75 ', '8.75 ', '11.75 ', '8.75 ', '11.25 ', '11.25 ', '11.25 ', '4.45 ', '1.25 ', '8.49 ', '8.49 ', '8.49 ', '8.99 ', '8.99 ', '2.39 ', '2.39 ', '3.99 ', '8.75 ', '4.45 ', '2.15 ', '9.25 ', '1.25 ', '11.25 ', '11.75 ', '8.75 ', '4.45 ', '11.25 ', '2.15 ', '8.75 ', '4.45 ', '8.75 ', '8.75 ', '1.25 ', '11.25 ', '2.15 ', '8.75 ', '5.90 ', '11.75 ', '1.25 ', '9.25 ', '3.75 ', '8.75 ', '1.25 ', '4.45 ', '11.75 ', '4.45 ', '8.75 ', '23.50 ', '8.75 ', '2.95 ', '8.75 ', '8.75 ', '11.89 ', '4.45 ', '2.95 ', '1.25 ', '8.75 ', '4.45 ', '2.95 ', '1.25 ', '8.75 ', '2.15 ', '1.25 ', '11.75 ', '2.95 ', '8.99 ', '3.39 ', '9.25 ', '9.25 ', '17.50 ', '2.95 ', '11.89 ', '1.50 ', '11.25 ', '2.95 ', '9.25 ', '11.25 ', '11.25 ', '2.95 ', '8.75 ', '9.25 ', '4.30 ', '8.75 ', '8.75 ', '11.25 ', '8.75 ', '4.30 ', '8.75 ', '1.25 ', '2.15 ', '8.49 ', '8.49 ', '3.39 ', '3.39 ', '10.98 ', '10.98 ', '2.39 ', '11.25 ', '11.75 ', '11.75 ', '1.25 ', '5.90 ', '8.75 ', '11.25 ', '9.25 ', '4.45 ', '1.50 ', '3.39 ', '8.99 ', '2.39 ', '11.25 ', '2.15 ', '11.25 ', '11.75 ', '11.75 ', '4.45 ', '11.75 ', '4.45 ', '9.25 ', '8.75 ', '8.49 ', '8.99 ', '8.49 ', '8.99 ', '11.75 ', '8.75 ', '8.49 ', '3.99 ', '3.89 ', '11.08 ', '8.49 ', '8.99 ', '8.49 ', '8.49 ', '8.49 ', '11.25 ', '2.15 ', '17.50 ', '8.75 ', '2.95 ', '8.49 ', '8.49 ', '10.98 ', '1.09 ', '11.25 ', '2.15 ', '2.95 ', '1.25 ', '8.75 ', '9.25 ', '9.25 ', '9.25 ', '2.95 ', '8.75 ', '2.15 ', '1.25 ', '8.99 ', '3.99 ', '11.75 ', '2.15 ', '8.99 ', '3.39 ', '9.25 ', '8.75 ', '11.25 ', '11.25 ', '4.45 ', '8.75 ', '2.15 ', '1.25 ', '11.75 ', '4.45 ', '9.25 ', '2.95 ', '8.49 ', '8.49 ', '11.25 ', '8.75 ', '4.45 ', '11.25 ', '11.25 ', '11.25 ', '11.25 ', '4.45 ', '8.49 ', '1.69 ', '8.49 ', '3.39 ', '8.75 ', '11.25 ', '9.25 ', '8.75 ', '11.25 ', '11.25 ', '11.75 ', '11.25 ', '11.75 ', '11.25 ', '11.75 ', '21.96 ', '10.98 ', '1.69 ', '11.48 ', '8.99 ', '8.49 ', '1.69 ', '9.25 ', '2.15 ', '1.50 ', '11.25 ', '1.50 ', '8.75 ', '8.75 ', '2.95 ', '8.49 ', '1.69 ', '8.75 ', '2.95 ', '1.25 ', '11.25 ', '2.15 ', '11.08 ', '8.49 ', '8.49 ', '8.49 ', '11.75 ', '1.25 ', '11.75 ', '8.75 ', '8.75 ', '8.75 ', '4.45 ', '11.25 ', '1.50 ', '23.50 ', '11.75 ', '6.49 ', '8.75 ', '4.45 ', '6.49 ', '8.75 ', '2.50 ', '2.15 ', '8.49 ', '2.39 ', '8.75 ', '11.75 ', '4.45 ', '8.99 ', '10.98 ', '9.25 ', '2.95 ', '9.25 ', '9.25 ', '11.75 ', '8.75 ', '8.75 ', '8.75 ', '10.98 ', '11.25 ', '9.25 ', '8.75 ', '8.75 ', '2.15 ', '11.25 ', '2.15 ', '4.45 ', '11.75 ', '8.49 ', '2.39 ', '9.25 ', '1.25 ', '1.25 ', '1.25 ', '1.25 ', '8.75 ', '2.15 ', '8.49 ', '1.69 ', '11.25 ', '1.50 ', '8.75 ', '8.75 ', '8.49 ', '3.99 ', '8.99 ', '1.09 ', '11.25 ', '1.25 ', '8.49 ', '2.39 ', '8.49 ', '8.75 ', '9.25 ', '11.25 ', '4.45 ', '11.25 ', '11.89 ', '8.99 ', '8.49 ', '8.75 ', '4.45 ', '8.75 ', '11.75 ', '11.75 ', '8.90 ', '9.39 ', '2.95 ', '8.49 ', '3.99 ', '8.75 ', '2.15 ', '1.25 ', '21.96 ', '8.49 ', '1.69 ', '8.75 ', '4.45 ', '8.49 ', '8.99 ', '8.49 ', '3.99 ', '8.75 ', '8.75 ', '2.95 ', '8.75 ', '17.50 ', '9.25 ', '2.95 ', '8.75 ', '6.49 ', '4.30 ', '8.75 ', '8.75 ', '2.15 ', '1.50 ', '8.49 ', '8.49 ', '2.39 ', '9.25 ', '4.45 ', '6.49 ', '11.75 ', '4.45 ', '10.98 ', '1.69 ', '9.39 ', '9.25 ', '9.25 ', '2.95 ', '8.75 ', '2.15 ', '1.25 ', '11.25 ', '9.25 ', '8.75 ', '11.25 ', '8.75 ', '11.25 ', '2.50 ', '2.50 ', '6.00 ', '8.90 ', '5.90 ', '11.25 ', '11.25 ', '8.49 ', '10.98 ', '8.75 ', '2.15 ', '1.50 ', '9.25 ', '1.25 ', '1.50 ', '2.15 ', '1.25 ', '8.75 ', '2.95 ', '8.49 ', '3.99 ', '11.25 ', '4.30 ', '11.75 ', '2.15 ', '18.50 ', '8.49 ', '2.39 ', '8.75 ', '4.45 ', '11.75 ', '8.99 ', '3.99 ', '9.25 ', '9.25 ', '1.50 ', '8.75 ', '2.95 ', '6.49 ', '11.75 ', '8.49 ', '8.99 ', '8.75 ', '4.45 ', '6.49 ', '22.50 ', '9.25 ', '2.95 ', '8.49 ', '1.69 ', '10.98 ', '8.75 ', '4.45 ', '11.25 ', '2.95 ', '8.99 ', '8.49 ', '2.39 ', '11.75 ', '6.49 ', '11.25 ', '11.75 ', '2.95 ', '8.99 ', '1.69 ', '8.99 ', '2.18 ', '1.09 ', '8.99 ', '8.99 ', '1.09 ', '8.99 ', '8.99 ', '8.49 ', '10.98 ', '1.09 ', '11.75 ', '9.25 ', '11.25 ', '11.25 ', '2.15 ', '11.25 ', '8.75 ', '4.45 ', '2.95 ', '11.75 ', '1.50 ', '8.99 ', '10.98 ', '2.39 ', '8.75 ', '2.15 ', '9.25 ', '1.50 ', '8.75 ', '2.15 ', '3.99 ', '8.99 ', '6.49 ', '8.75 ', '8.90 ', '8.99 ', '3.99 ', '17.50 ', '11.25 ', '1.25 ', '10.98 ', '9.25 ', '4.45 ', '1.25 ', '3.00 ', '11.25 ', '4.45 ', '4.45 ', '2.95 ', '9.25 ', '11.25 ', '2.15 ', '11.25 ', '11.25 ', '4.45 ', '2.95 ', '9.25 ', '11.25 ', '1.25 ', '8.75 ', '2.95 ', '1.25 ', '8.75 ', '4.45 ', '11.48 ', '11.48 ', '8.49 ', '2.39 ', '11.25 ', '11.75 ', '2.15 ', '1.50 ', '2.15 ', '8.75 ', '11.25 ', '8.90 ', '11.25 ', '11.25 ', '1.25 ', '4.45 ', '9.25 ', '9.25 ', '8.75 ', '9.25 ', '8.75 ', '8.75 ', '9.25 ', '8.75 ', '11.75 ', '11.75 ', '8.75 ', '8.75 ', '8.90 ', '2.95 ', '10.98 ', '8.49 ', '8.49 ', '10.98 ', '8.99 ', '8.99 ', '11.75 ', '17.50 ', '11.75 ', '3.99 ', '8.49 ', '10.98 ', '1.69 ', '17.50 ', '8.99 ', '2.39 ', '8.99 ', '2.39 ', '1.25 ', '8.75 ', '2.95 ', '11.75 ', '11.25 ', '17.50 ', '8.49 ', '8.49 ', '2.39 ', '11.25 ', '1.50 ', '8.75 ', '3.00 ', '1.25 ', '8.75 ', '4.45 ', '11.75 ', '11.75 ', '4.45 ', '21.96 ', '8.75 ', '4.45 ', '8.75 ', '11.25 ', '9.25 ', '8.99 ', '2.39 ', '9.25 ', '8.75 ', '10.98 ', '8.49 ', '3.99 ', '3.39 ', '11.75 ', '1.50 ', '4.45 ', '9.25 ', '8.75 ', '1.25 ', '11.75 ', '8.75 ', '1.50 ', '8.75 ', '8.75 ', '2.15 ', '1.50 ', '8.75 ', '2.95 ', '8.75 ', '8.75 ', '17.50 ', '8.75 ', '6.49 ', '4.45 ', '11.25 ', '11.25 ', '4.30 ', '8.75 ', '11.25 ', '4.45 ', '8.99 ', '2.39 ', '9.25 ', '9.25 ', '9.25 ', '4.45 ', '11.75 ', '11.25 ', '2.95 ', '2.15 ', '11.25 ', '11.25 ', '8.75 ', '2.15 ', '1.50 ', '9.25 ', '4.45 ', '10.98 ', '8.99 ', '2.18 ', '8.75 ', '4.45 ', '1.25 ', '8.99 ', '2.39 ', '4.45 ', '8.75 ', '10.98 ', '11.75 ', '1.50 ', '10.98 ', '8.99 ', '8.49 ', '3.99 ', '8.99 ', '8.49 ', '3.99 ', '8.49 ', '8.49 ', '8.99 ', '11.25 ', '11.25 ', '10.98 ', '10.98 ', '10.98 ', '2.39 ', '3.39 ', '8.75 ', '1.25

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [118]:
# asignamos los nuevos valores (de la lista) a la columna 'item_price'
chipo['item_price'] = prices

In [119]:
# comprobamos que se haya cambiado la columna
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [120]:
# realmente se puede hacer con una sola línea de código
chipo['item_price'] = chipo['item_price'].apply(lambda i: i.lstrip('$'))

In [121]:
# ahora que son numeros, sí que podemos cambiar el type de la columna
chipo['item_price'] = chipo['item_price'].astype(float)

#### Step 13.c. Check the item price type

In [122]:
chipo.item_price.dtype

dtype('float64')

In [123]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [124]:
chipo['revenue'] = chipo['item_price']*chipo['quantity'] # creamos una nueva columna 'revenue'
chipo[chipo['quantity']>1] # compruebo que el resultado sea correcto haciendo un masking para cantidades > 1

,order_id,quantity,item_name,choice_description,item_price,revenue
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
18,9,2,Canned Soda,[Sprite],2.18,4.36
51,23,2,Canned Soda,[Mountain Dew],2.18,4.36
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50,45.00
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",17.98,35.96
...,...,...,...,...,...,...
4491,1786,4,Canned Soft Drink,[Sprite],5.00,20.00
4499,1789,2,Canned Soft Drink,[Coke],2.50,5.00
4560,1812,2,Canned Soft Drink,[Coke],2.50,5.00
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",17.50,35.00
4582,1822,2,Bottled Water,NaN,3.00,6.00

In [125]:
revenue = chipo.revenue.sum()
print(f"Total Revenue: {revenue} $")

Total Revenue: 39237.02 $

In [126]:
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 15. How many orders were made in the period?

In [127]:
len(chipo.order_id.unique())

1834

In [128]:
chipo.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [129]:
# Solution 1
revenue = chipo.revenue.sum()
print(f"Total Revenue: {revenue} $")
orders = chipo.order_id.nunique()
print(f"Number of Orders: {orders} $")
average = revenue/orders
average = round(average, 2)
print(f"Average revenue per order: {average} $")

Total Revenue: 39237.02 $
Number of Orders: 1834 $
Average revenue per order: 21.39 $

In [130]:
# Solution 2

### Step 17. How many different items are sold?

In [131]:
chipo.item_name.nunique()

50

# Part 2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [132]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [133]:
# we already did that
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 4. How many products cost more than $10.00?

In [134]:
masde10 = chipo[chipo['item_price']>10]
masde10['item_name'].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [135]:
masde10

,order_id,quantity,item_name,choice_description,item_price,revenue
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

In [136]:
masde10['item_price'].unique()

array([16.98, 10.98, 11.75, 11.25, 22.5 , 11.48, 17.98, 17.5 , 23.78,
       11.08, 22.16, 32.94, 22.2 , 10.58, 23.5 , 18.5 , 11.89, 35.  ,
       27.75, 11.8 , 26.25, 21.96, 13.35, 22.96, 26.07, 12.98, 35.25,
       44.25, 10.5 , 33.75, 16.38, 13.52, 15.  , 17.8 , 11.49])

In [137]:
priceperitem = masde10[['item_price','item_name']]
priceperitem

      item_price           item_name
4          16.98        Chicken Bowl
5          10.98        Chicken Bowl
7          11.75       Steak Burrito
13         11.25        Chicken Bowl
23         10.98     Chicken Burrito
...          ...                 ...
4610       11.75       Steak Burrito
4611       11.25      Veggie Burrito
4617       11.75       Steak Burrito
4618       11.75       Steak Burrito
4619       11.25  Chicken Salad Bowl

[1130 rows x 2 columns]

In [138]:
priceperitem.reset_index(drop=True)

      item_price           item_name
0          16.98        Chicken Bowl
1          10.98        Chicken Bowl
2          11.75       Steak Burrito
3          11.25        Chicken Bowl
4          10.98     Chicken Burrito
...          ...                 ...
1125       11.75       Steak Burrito
1126       11.25      Veggie Burrito
1127       11.75       Steak Burrito
1128       11.75       Steak Burrito
1129       11.25  Chicken Salad Bowl

[1130 rows x 2 columns]

In [139]:
# tenemos 31 items distintos que cuestan más de 10$ y aquí tenemos 1130 filas,
# pero es porque puede haber un mismo item (como Chicken Bowl) que cueste distinto,
# ya que tiene diferentes ingredientes

priceperitem.loc[priceperitem['item_name'] == 'Chicken Bowl', 'item_price']

4       16.98
5       10.98
13      11.25
42      11.25
123     11.25
        ...
4576    11.25
4586    11.25
4587    11.25
4589    11.25
4590    11.25
Name: item_price, Length: 304, dtype: float64

### Step 6. Sort by the name of the item

In [140]:
priceperitem.sort_values('item_name')

      item_price          item_name
3389       12.98  6 Pack Soft Drink
1643       11.75      Barbacoa Bowl
919        11.75      Barbacoa Bowl
3547       11.75      Barbacoa Bowl
4510       11.49      Barbacoa Bowl
...          ...                ...
186        11.25  Veggie Salad Bowl
295        11.25  Veggie Salad Bowl
3889       16.98  Veggie Soft Tacos
738        11.25  Veggie Soft Tacos
1699       11.25  Veggie Soft Tacos

[1130 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [141]:
chipo.loc[chipo['item_price'].idxmax(),'quantity']

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [148]:
salad = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
len(salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [185]:
# creating 2 masks separately
soda = chipo['item_name'] == 'Canned Soda'
quantity2 = chipo['quantity'] > 1
soda2 = chipo[soda & quantity2]
soda2

      order_id  quantity    item_name choice_description  item_price  revenue
18           9         2  Canned Soda           [Sprite]        2.18     4.36
51          23         2  Canned Soda     [Mountain Dew]        2.18     4.36
162         73         2  Canned Soda        [Diet Coke]        2.18     4.36
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18     4.36
350        150         2  Canned Soda        [Diet Coke]        2.18     4.36
352        151         2  Canned Soda        [Coca Cola]        2.18     4.36
698        287         2  Canned Soda        [Coca Cola]        2.18     4.36
700        288         2  Canned Soda        [Coca Cola]        2.18     4.36
909        376         2  Canned Soda     [Mountain Dew]        2.18     4.36
1091       450         2  Canned Soda       [Dr. Pepper]        2.18     4.36
1092       450         2  Canned Soda        [Coca Cola]        2.18     4.36
1944       787         2  Canned Soda       [Dr. Pepper]        2.18     4.36
2135       859         2  Canned Soda        [Diet Coke]        2.18     4.36
2235       901         4  Canned Soda           [Sprite]        4.36    17.44
2905      1156         2  Canned Soda        [Coca Cola]        2.18     4.36
2906      1156         2  Canned Soda           [Sprite]        2.18     4.36
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18     4.36
3364      1349         2  Canned Soda        [Coca Cola]        2.18     4.36
3592      1440         2  Canned Soda        [Diet Coke]        2.18     4.36
3866      1550         2  Canned Soda     [Mountain Dew]        2.18     4.36

In [193]:
# or do both masks in just one line of code
sodados = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
sodados

      order_id  quantity    item_name choice_description  item_price  revenue
18           9         2  Canned Soda           [Sprite]        2.18     4.36
51          23         2  Canned Soda     [Mountain Dew]        2.18     4.36
162         73         2  Canned Soda        [Diet Coke]        2.18     4.36
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18     4.36
350        150         2  Canned Soda        [Diet Coke]        2.18     4.36
352        151         2  Canned Soda        [Coca Cola]        2.18     4.36
698        287         2  Canned Soda        [Coca Cola]        2.18     4.36
700        288         2  Canned Soda        [Coca Cola]        2.18     4.36
909        376         2  Canned Soda     [Mountain Dew]        2.18     4.36
1091       450         2  Canned Soda       [Dr. Pepper]        2.18     4.36
1092       450         2  Canned Soda        [Coca Cola]        2.18     4.36
1944       787         2  Canned Soda       [Dr. Pepper]        2.18     4.36
2135       859         2  Canned Soda        [Diet Coke]        2.18     4.36
2235       901         4  Canned Soda           [Sprite]        4.36    17.44
2905      1156         2  Canned Soda        [Coca Cola]        2.18     4.36
2906      1156         2  Canned Soda           [Sprite]        2.18     4.36
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18     4.36
3364      1349         2  Canned Soda        [Coca Cola]        2.18     4.36
3592      1440         2  Canned Soda        [Diet Coke]        2.18     4.36
3866      1550         2  Canned Soda     [Mountain Dew]        2.18     4.36

In [199]:
print(f"More than one canned soda were sold {len(soda2)} times")

More than one canned soda were sold 20 times